<form id="dynamic-blast">
    <h3>New Blast</h3>
    Distribution List:
    <select name="distributionList">
        <option value="none">None</option>
        {{#each distributionLists}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>

    Additional Recipients:
    <person-selector name="recipients" />

    <div>Message:</div>
    <textarea name="template" placeholder="Use \{{mention}} to place an @mention to the recipient" required="true"></textarea>
    <checkbox name="track-urls" value="true" checked="true">Track URLs</checkbox>
    <br />
    <button name="submit" type="action">Blast</button>
</form>
