<form id="dynamic-blast">
    <h3>Dynamic Blast</h3>
    Recipients: <person-selector name="recipients" placeholder="Search for people.." required="true" />
    Template:
    <textarea name="template" placeholder="Use {{mention}} to place an @mention to the recipient and {{url}} to place your tracking link" required="true"></textarea>
    Tracking URL (Optional): <text-field name="url" />
    <button name="submit" type="action">Submit</button>
</form>
