<h3>Menu</h3>
<form id="dynamic-blast-form">
    <button name="dynamic-blast-form" type="action">New Dynamic Blast</button>
</form>
<form id="prepared-blast-form">
    <button name="prepared-blast-form" type="action">New Prepared Blast</button>
</form>
<form id="manage-distribution-lists-form">
    <button name="manage-distribution-lists-form" type="action">Manage Distribution Lists</button>
</form>
<form id="manage-templates-form">
    <button name="manage-templates-form" type="action">Manage Templates</button>
</form>
