<h2>Welcome to the BeyondBlast Bot!</h2>
I will help you to get started on creating your personalised messages to your customers and your counterparties.
<br /><br />
<div style="display:flex">
    <form id="dynamic-blast-form">
        <button name="dynamic-blast-form" type="action">Send Blast</button>
    </form>
    <form id="manage-distribution-lists-form">
        <button name="manage-distribution-lists-form" type="action">Manage Distribution Lists</button>
    </form>
</div>
