<form id="new-template">
    <h2>New Template</h2>
    Title: <text-field name="title" required="true" />
    Recipients: <person-selector name="recipients" placeholder="Search for people.." required="true" />
    <textarea name="template" placeholder="Template" required="true"></textarea>
    <button name="submit" type="action">Submit</button>
</form>
