<form id="prepared-blast">
    Distribution List:
    <select name="distribution-list" required="true" data-placeholder="Select your recipients">
        {{#each distributionLists}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
    Template:
    <select name="template" required="true" data-placeholder="Select your template">
        {{#each templates}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
    <button name="submit" type="action">🚀 Blast</button>
</form>
