<form id="prepared-blast">
    Distribution List:
    <select name="distribution-list" required="true" data-placeholder="Select your recipients">
        {{distributionLists}}
    </select>
    Template:
    <select name="template" required="true" data-placeholder="Select your template">
        {{templates}}
    </select>
    <button name="submit" type="action">🚀 Blast</button>
</form>
