<form id="review-blast">
    <h3>Review Blast</h3>

    <card accent="tempo-bg-color--blue">
        Hello <mention uid="1"/>,<br/>Some meesage here
    </card>

    <i>This message will be sent to <b>32</b> participants.</i>

    <card accent="tempo-bg-color--blue">

        <header><i>Click here to review the list of recipients</i></header>

        <body>
        <table>
            <thead>
            <tr>
                <td><b>First Name</b></td>
                <td><b>Last Name</b></td>
                <td><b>Company</b></td>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Susan</td>
                <td>Sarandon</td>
                <td>CBA</td>

            </tr>
            <tr>
                <td>Mark</td>
                <td>Hamilton</td>
                <td>BNPP</td>

            </tr>

            <tr>
                <td>Lakshey</td>
                <td>Gangwani</td>
                <td>UHNW Inc</td>
            </tr>
            <tr>
                <td>Richard</td>
                <td>Lopez</td>
                <td>DRC Pty LTD</td>
            </tr>
            <tr>
                <td>Mary Joe</td>
                <td>Catillo</td>
                <td>Boeing Inc</td>
            </tr>
            <tr>
                <td>Fredrick</td>
                <td>Stemmelin</td>
                <td>Symphony Inc</td>
            </tr>
            </tbody>
        </table>
        </body>

    </card>

    <button name="blast" type="action">Blast</button>
    <button name="no-blast" type="action">Cancel</button>
</form>
